body{
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
/*BARRA DE NAVEGACION*/
#barra-nav{
    background-color: green;
}
#barra-nav a{
    color: white;
    font-weight: 500;
}
#barra-nav a:hover{
    color: rgb(35, 236, 35);
    font-weight: 500;
}
.logo{
    width: 50px;
}
/*INICIO*/
.index-content{
    margin: 1rem;
}
/*REGISTRO*/
.div-registro{
    width: 40rem;
    display: block;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-sizing: border-box;
    border: 1px solid darkgreen;
    border-radius: 1rem;
}
form{
    padding: 1rem;
}
.header{
    padding: 10px;
    text-align: center;
    background-color: rgb(132, 240, 132);
    border-radius: 1rem 1rem 0 0 ;
}
.boton{
    display: block;
    margin: auto;
    margin-top: 1rem;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
/*PERFIL*/
.profile-content{
    width: 40rem;
    display: block;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: 2px solid darkgreen;
    padding: 3rem;
}
.img-profile{
    display: block;
    margin: auto;
    width: 22rem;
}
.datos{
    margin: 12px;
}
.info{
    padding: 4px;
    margin-bottom: 10px;
    border: 1px dashed gray;
}
/*TERMINOS*/
.terms{
    margin: 10%;
}
.titulo-terms{
    text-align: center;
}
.texto{
    text-align: justify;
}
/*FOOTER*/
.pie-pagina{
    padding: 1rem;
    text-align: center;
    background-color: green;
}