{% extends 'layouts/base.html' %}
{% block  content %}
<div class="div-nosotros">
    <h1>Sobre nosotros</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Beatae doloremque nemo doloribus iure ipsa repellat architecto 
        velit molestiae tempora laudantium voluptate quasi, recusandae 
        cum labore veniam ex modi voluptas eius molestias blanditiis iusto. 
        Non saepe dignissimos laudantium libero harum fuga placeat sunt eligendi
        beatae sapiente omnis, deleniti natus molestias asperiores qui error eos
        ipsum aspernatur? Modi sit voluptatibus architecto dolore explicabo? 
        Aperiam officiis dolore ipsum doloribus ipsa ea quisquam rem autem est 
        labore eum assumenda libero, ducimus modi, corrupti fugiat laborum iste 
        dolor odit dolores eveniet temporibus. A veritatis numquam assumenda doloremque 
        nisi recusandae non quasi ex dolorem quos ipsam inventore praesentium, perferendis
        odio maiores quam voluptatem, aut ducimus soluta corrupti consequuntur unde
        distinctio corporis! Consectetur magnam eligendi iusto consequuntur pariatur
        commodi, nemo sapiente perferendis eaque aspernatur error dicta quas officia
        fugit veritatis repellendus illo, autem aperiam laboriosam magni repudiandae
        hic quo. Odio accusamus aperiam repellendus ipsam, nihil odit reiciendis.</p>
</div>

{% endblock  %}