{% extends 'layouts/base.html' %}
{% load static %}

{% block content  %}
<div class="profile-content">
    <div class="image-profile">
        <img src="{% static 'images/logo1.png' %}" class="img-profile" alt="imagen usuario">
    </div>
    <div class="datos">
        <div class="info" id="usuario">
            <p>Usuario: </p>
        </div>
        <div class="info" id="correo">
            <p>Correo: </p>
        </div>
        <div class="info" id="categoria">
            <p>Rol: </p>
        </div>
        <div class="info" id="telefono">
            <p>Contacto:</p>
        </div>
        <div class="info" id="direccion">
            <p>Dirección: </p>
        </div>
    </div>
</div>
{% endblock  %}